.topnav{
    width: 100vw; 
    height: 4vw; 
    background:#212121; 
    position: fixed;
    right: 0; 
    left: 0; 
    top: 0;
    z-index: 100;
}

.topnav a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 0.8vw 2vw;
    text-decoration: none;
    font-size: 2vw;
  }
  
.topnav a:hover {
    background-color: #423F3E;
    color: white;
  }
  
.topnav a.active {
    background-color: #0F0E0E;
    color: white;
  }

.topnav h1{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 1.3vw;
    text-decoration: none;
    margin-top: 0.7vw;
    font-size: 2vw;
}

p{
    color: #f2f2f2;
    text-align: center;
    padding: 0px 2vw;
    font-family:'Courier New', Courier, monospace;
    margin-top: 6vw;
    font-size: 2.5vw;
}

.topnav img{
    float: left;
    width: 2.5vw;
    height: 2.5vw;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 1.3vw;
    text-decoration: none;
    margin-top: 0.7vw;
    font-size: 2vw;
}

img {
    width: 50vw;
    height: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.logo{
    width: 5vw;
    height: 5vw;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.click{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0.8vw 4vw;
    text-decoration: none;
    font-size: 2vw;
}

.cdiv{
    text-align: center;
    margin: auto;
    margin-top: 4.5vw;
    margin-left: 35vw;
    width: 50vw;
    height: 10vw;
}